

.cart-container_new {
    background-color: #1B1E3D;
    border-radius: 8px;
  }
  
  .cart-title {
    color: #0F93EB;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 20px;
  }
  
  .cart-table {
 color: #0F93EB;
  }
  
  .cart-table thead th {
    border-bottom: 2px solid #646363;
    color: #0F93EB;
    font-weight: normal;
    text-align: center;
    background-color: #23274A;
    font-size: 22px !important;
  }
  
  .cart-table tbody td {
    border-bottom: 1px solid #7a7a7a;
    vertical-align: middle;
    text-align: center;
    background: #23274A;
    color: #fff;
    font-size: 18px ;
  }
  
  .item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .item-title {
    color: white;
    font-weight: 500;
  }
  
  .item-quantity {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .remove-button {
    color: #9d4951;
  }
  
  .remove-button:hover {
    color: #9d4951;
  }
  
  .cart-summary {
    background-color: #1B1E3D;
    padding: 1.5rem;
    border-radius: 8px;
    color: white;
    float: right;
    width: 100%;
  }
  
  .cart-summary .total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .checkout-button {
    background-color: #28a745;
    border-color: #28a745;
    font-weight: bold;
  }
  
  .continue-shopping {
    background-color: transparent;
    border: 1px solid #ddd;
    color: white;
  }
  
  .empty-cart {
    color: white;
    padding: 3rem 0;
  }
  .heading_table{
    background-color: #23274A !important;
  }