@import url('https://fonts.cdnfonts.com/css/zuume');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root {
  --body-font:  'Gilroy-Bold', sans-serif;
  --heading-font: 'Zuume', sans-serif;
}

body {
  font-family: var(--body-font);

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    letter-spacing: 1px;
  }
.animated-heading {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card_checkout {
    background-color: #1B1E3D;
    border: 1px solid #1B1E3D;
    border-radius: 15px;
    padding: 0px;
}

.card_heading {
    background-color: #23274A;
    padding: 15px 15px;
    padding-left: 10px;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #23274A;
}

.card_image {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.remove-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.remove_tab {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0F93EB;
}

.card_border {
    color: #807d7d;
    padding: 15px;
    width: 90%;
    margin: auto;
}

.card_tab {
    border: 1px solid #585656;
    padding: 15px;
    margin: 20px;
    background-color: #3c4063;
    border-radius: 10px;
    align-items: center;
}

.card_code {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card_input_get {
    width: 80%;
    border: 1px solid #ffffff52;
    border-radius: 40px;
    background-color: #ffffff3a;
    height: 55px !important;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.code_type {
    height: 52px;
    background-color: transparent;
    padding-left: 20px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 30%;
}

.Discount_Code {
    padding: 15px;
    color: #898a8b;
}

.apply_btn {
    height: 55px;
    width: 15%;
    background-color: #0F93EB;
    color: #fff;
    outline: none;
    border: 1px solid #0F93EB;
    margin-top: 10px;
    border-radius: 100px;
}

.Subtotal_heading {
    color: #858383;
}

.card_code_one {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.secure_btn {
    display: flex;
    justify-content: center;
    background-color: #ffff;
    width: 20%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.secure_icon {
    width: 20px;
    fill: #355f43;
}

.ssl_btn {
    background-color: transparent;
    color: #353232;
    border: none;
    outline: none;

}

.card_email {
    background-color: #1B1E3D;
    border: 1px solid #1B1E3D;
    border-radius: 15px;
    padding: 0px;
    margin-left: 10px;
    height: fit-content;
}

.card_input {
    width: 100%;
    border: 1px solid #ffffff52;
    border-radius: 40px;
    background-color: #ffffff3a;
    height: 55px !important;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.Discount_email {
    padding: 15px;
    color: #898a8b;
    width: 30%;
}

.email_type {
    height: 52px;
    background-color: transparent;
    padding-left: 20px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 30%;
}

.email_account {
    padding: 15px;
    color: #a8a4a4;
    font-size: 15px;
    font-weight: 400;
}

.sign_check {
    text-decoration: none;
    color: #0F93EB;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;

}

.check_box {
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.Sign_check_label {
    color: #0F93EB;
    padding-left: 7px;
    font-size: 17px;
    font-weight: 400;
}

.Continue_btn {
    height: 50px;
    width: 35%;
    background-color: #0F93EB;
    color: #fff;
    outline: none;
    border: 1px solid #0F93EB;
    margin-top: 20px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.Additional_Information {
    border: 1px solid #3c4063;
    border-radius: 12px;
    padding: 10px;
    background-color: #3c4063;
    width: 96%;
    margin: auto;
    margin-top: 20px;
    margin-left: 15px;
}

.Additional_link {
    text-decoration: none;
    color: #0F93EB;
    padding-left: 7px;
    font-size: 17px;
    font-weight: 400;
    background-color: transparent;
   display: flex;
}
.card_Additional{
    background-color: #1B1E3D;
    border: 1px solid #1B1E3D;
    border-radius: 15px;
    padding: 0px;
    margin-left: 10px;
    height: fit-content;
    position: relative;
    top: -48px !important;
}
h2.section-title {
    color: #fff;
    font-family: 'Zuume', sans-serif;
    font-size: 67px;
    font-weight: 900;
    text-align: center;
}
.main {
 padding-top: 90px;
}