.futures_checkout {
    background-color: #0F93EB;
    border: 1px solid #0F93EB;
    border-radius: 15px 15px 0px 0px;
    padding: 0px;
    margin: auto;
}

.future_heading {
    padding: 15px 12px;
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.image_scorll {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    top: 0px;
    height: 100px;
    color: #fff;
}

.image_scorll::-webkit-scrollbar {
    height: 10px;
}

.image_scorll::-webkit-scrollbar-thumb {
    background-color: #0F93EB;
    border-radius: 5px;
}

.image_scorll::-webkit-scrollbar-track {
    background: #23274A;
}

.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #757474;
}

.futures-table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
    background-color: transparent;
    text-align: center;
}

.futures-table th {
border: none;
padding: 12px 16px;
vertical-align: middle;
white-space: nowrap;
}
.futures-table td {
    padding: 12px 16px;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #eeeeee4d;
    font-family: var(--body-font);
}


.futures-table th {
    background-color: #0F93EB;
    color: #f8f5f5;
    font-weight: 500;
    font-size: 22px;
    font-family: var(--heading-font);
}

.logo-img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.team-name {
    font-weight: bold;
    text-align: left;
    background-color: transparent;
}

.option-cell {
    background-color: transparent;
}
.outer_table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1B1E3D;
    border: 1px solid #1B1E3D;
    margin-bottom: 20px;
}
.futures-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.dropdown-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.futures-dropdown {
    font-size: 16px;
    border-radius: 30px;
    background: #1c1d3fa3;
    padding: 10px 26px;
    min-height: 54px;
    border: 1px solid #171538;
    color: white;
}
.futures-dropdown option {
    background-color: #1c1d3f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

@media (max-width: 480px) {
.futures-dropdown {
    width: 270px;
}}