@import url('https://fonts.cdnfonts.com/css/zuume');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root {
    --body-font: 'Gilroy-Bold', sans-serif;
    --heading-font: 'Zuume', sans-serif;
}

h1, h2, h3, h5 {
    font-family: var(--heading-font);
  }

  .blog-articles {
    margin-top: 50px;
}
  .title_blog {
    font-family: var(--font-body) !important;
    font-size: 40px !important;
    font-weight: 500 !important;
  }
.article-card {
    background-color: #1B1E3D;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    transition: box-shadow .3s;
}
.article-card:hover {
    box-shadow: 0 0 7px rgb(46 190 232);
}
  .blog-articles .card-body {
    flex: 1 1 auto;
    padding: 24px 24px;
}
  .article-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 200px;
    object-fit: cover;
    padding: 14px 14px 0px 14px;
  }
  
  .article-tag {
    color: #0F93EB;
    margin-bottom: 7px;
    font-weight: 500;
    font-family: var(--font-body);
    font-size: 20px;
}
  
  .article-title {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .article-meta {
    color: #ffffff94;
    font-size: 14px;
}
  
  .view-more-link {
    color: #2ebefc;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .view-more-link:hover {
    text-decoration: underline;
  }
  .dropdown-menu {
    background-color: #1a1b2f;
    border: none;
  }
  
  .dropdown-item {
    color: #ffffff;
  }
  
  .dropdown-item:hover {
    background-color: #2e2f45;
    color: #2ebefc;
  }
  .all_art {
    background: #1c1d3fa3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    padding: 10px 26px;
    min-height: 54px;
    border-radius: 30px;
    min-width: 130px;
    border: 1px solid #171538;
}
.all_art:hover, .all_art:active {
    background: #1c1d3f69;
    border: 1px solid #171538;
    color: #fff;
} 
.dropdown-menu.show {
    border-radius: 10px;
    padding: 10px;
    background: #1b1e3de6;
}