@import url('https://fonts.cdnfonts.com/css/zuume');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root {
    --body-font: 'Gilroy-Bold', sans-serif;
    --heading-font: 'Zuume', sans-serif;
}

body {
    font-family: var(--body-font);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    letter-spacing: 1px;
}

.animated-heading {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.backgroung_image {
    background-image: url("../images/page-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nba_odds {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.btn_tab {
    background: transparent;
    outline: none;
    border: 1px solid #0F93EB;
    border-radius: 18px;
    padding: 3px 20px;
    color: #fff !important;
}

.overview_tab {
    width: 100%;
    border: 1px solid red;
}

.nfl_games {
    background-color: #1B1E3D;
    border: 1px solid #1B1E3D;
    border-radius: 15px;
    padding: 0px !important;
}

.nfl_games_heading {
    background-color: #23274A;
    border: 1p solid #23274A;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 500;
}

.icon_heading {
    color: #fff;
    font-size: 14px;
    font-weight: 500;

}

.Open_tab {
    border-left: 1px solid #696767;
    padding-left: 10px;

}

.open_number {
    background-color: #0F93EB;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #0F93EB;
    border-radius: 15px;
}

.open_number_one {
    background-color: #23274A;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #23274A;
    border-radius: 15px;
}

.open_number_two {
    background-color: #376c8f;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #376c8f;
    border-radius: 15px;
}

.image_icon {
    padding: 2px 5px;
    background-color: #23274A;
    border: 1px solid #575555;
    border-radius: 10px;
    width: 32px;
    height: 32px;
}

.draw_icon {
    width: 22px;
    height: 22px;
    fill: #a3a1a1;
}

.image_scorll {

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.image_scorll::-webkit-scrollbar {
    height: 10px;
}

.image_scorll::-webkit-scrollbar-thumb {
    background-color: #0F93EB;
    border-radius: 5px;
}

.image_scorll::-webkit-scrollbar-track {
    background: #23274A;
}

.home_Games {
    padding-top: 100%;
}

:hover.tab_hover {
    background-color: #3d4375;
    border-radius: 15px;
}

.tab-bar {
    display: flex;
    justify-content: start;
    gap: 7px;
}



.tab_drag {
    display: block;
    text-align: center;
}

.tab-image {
    width: 45px !important;
    height: 45px !important;
    object-fit: contain;
}






@media (min-width: 320px) and (max-width: 580px) {

    .tab_hover {

        display: block !important;
        padding: 5px;
    }

    .drag_responsive {
        width: 100% !important;
        margin: auto !important;
    }

    .drag_responsive_one {
        width: 100% !important;
        margin: auto !important;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .drag_responsive_one::-webkit-scrollbar {
        height: 10px;
    }

    .drag_responsive_one::-webkit-scrollbar-thumb {
        background-color: #0F93EB;
        border-radius: 5px;
    }

    .drag_responsive_one::-webkit-scrollbar-track {
        background: #23274A;
    }

    .home_pagination {
        width: 100%;
        margin: auto;
        margin: 5px;
        text-align: center;
        margin: auto;
        display: block !important;
    }

    .btn_next {
        margin-top: 10px !important;

    }

    .btn_tab {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .tab_hover {

        display: block !important;
        padding: 5px;
    }

    .drag_responsive {
        width: 100% !important;
        margin: auto !important;
    }

    .drag_responsive_one {
        width: 100% !important;
        margin: auto !important;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .drag_responsive_one::-webkit-scrollbar {
        height: 10px;
    }

    .drag_responsive_one::-webkit-scrollbar-thumb {
        background-color: #0F93EB;
        border-radius: 5px;
    }

    .drag_responsive_one::-webkit-scrollbar-track {
        background: #23274A;
    }

    .home_pagination {
        width: 100%;
        margin: auto;
        margin: 5px;
        text-align: center;
        margin: auto;
        display: block !important;
    }

    .btn_next {
        margin-top: 10px !important;

    }

    .btn_tab {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}

.rd-text-button {
	--arrowAnimation: all 0.2s ease-in-out;
	--arrowColor: var(--e-global-color-text, white);
	
	display: inline-flex;
	align-items: center;
  font-weight: 600;
  color: var(--e-global-color-text, white);
  text-decoration: none;
	
	&:hover {
		--arrowColor: var(--e-global-color-primary, #fff);
		
		color: var(--e-global-color-text, #fff) 
	}
}


/* Arrow icon */
.rd-text-button {	
	i {
		position: relative;
		display: inline-flex;
		align-items: center;
		width: 15px;
		height: 1px;
		border-radius: 2px;
		margin-left: 4px;
		background: #fff;
		transition: #ffff;

		&::before,
		&::after {
			content: '';
			position: absolute;
			right: 0;
			width: 0.25em;
			height: 2px;
			border-radius: 2px;
			background: var(--arrowColor);
			transition: var(--arrowAnimation);
		}
		&::before {
			transform: rotate(45deg);
			transform-origin: top right;
		}
		&::after {
			transform: rotate(-45deg);
			transform-origin: bottom right;
		}
	}

	&:hover i {
		width: 20px;
	}
}

.Alternate_btn{
    font-size: 14px;
    color: #fff;
}