.main_suscription {
    background-image: url(http://localhost:3000/static/media/page-bg.2dbc9d6a163cecf58a41.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
        min-height: 100vh;
}
.inner_sub {
    display: grid;
    gap: 40px;
    padding: 40px;
    background-color: #1b1e3d;
    border: 1px solid #1b1e3d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #fff !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(34 38 72) !important;
}